{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block head %}
<div id="bg-head" style=" height: 100%;"  class="row text-center m-0 p-0">
    <h1 id="title-site" class="mb-3 d-flex align-items-end justify-content-center text-center"> Explorez et Partagez l'Éclat du Snowboard Freestyle</h1>

    <div class="d-flex align-items-end justify-content-end">
        <a href="#tricks-list"><img id="first-arrow-icon" src="../images/icon/arrowBottom.png" alt="arrow bottom"></a>
    </div>

</div>
{% endblock %}

{% block body %}
<h2 id="tricks-list" class="text-center my-5">Liste des Tricks</h2>

{% if trickList|length > 0 %}
<div class="row d-flex col-12 pb-5">

    {% for trick in trickList.data %}

    <div class="card me-auto col-12 col-lg-2 m-3 p-0">
        <a href= "{{ path('trick', {'slug': trick.slug}) }}">
        {% if trick.headerImage is not null %}
            <img src="{{ asset('images/uploads/trickImages/'~ trick.headerImage) }}" class="card-img-top m-auto" alt="...">
        {% elseif trick.pictureList is not empty %}
            <img src="{{ asset('images/uploads/trickImages/'~ trick.pictureList.0.name) }}" class="card-img-top m-auto" alt="...">
        {% else %}
            <img src="{{ asset('images/default/defaultImage.jpg') }}" class="card-img-top m-auto" alt="...">
        {% endif %}
        </a>

        <div class="card-body list-group-item mt-auto d-flex align-items-end">
            <h3 class="card-text pt-3 ps-3">{{ trick.title }}</h3>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="card-footer d-flex justify-content-end align-items-end p-0 border-top">
            <p class="px-3 m-0" >
                <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                    <i id="pencil-icon" class="fa-solid fa-pencil"></i>
                </a>
            </p>
            <p class="px-2 m-0">
                <a onclick="return confirm('Es-tu sûr de vouloir supprimer ce trick ?')"
                    href="{{ path('delete_trick', {'slug': trick.slug}) }}"
                    title="Suppression du trick">
                    <i id="trash-icon" class="fa-solid fa-trash"></i>
                </a>
            </p>
        </div>
        {% endif %}
    </div>

    {% endfor %}

    {% set path = 'app_home' %}
    {% set pages = trickList.pages %}
    {% set currentPage = trickList.page %}
    {% include 'partial/pagination.html.twig' %}

    {% else %}
    <div class=" d-flex align-items-end justify-content-center text-center">
        <p class="col-8 span-text text-black-50 fs-3 text-center bg-body-secondary  ">Il n'y a pas encore de Trick de publier !</p>
    </div>
    {% endif %}

    <div class="d-flex align-items-end justify-content-end">
        <a href="#bg-head"><img id="second-arrow-icon" src="../images/icon/arrowTop.png" alt="arrow top"></a>
    </div>
</div>

{% endblock %}
