{% extends 'base.html.twig' %}

{% block title %}Modifier l'image d'en-tête{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="d-sm-none d-lg-block">
    <h1 class="m-auto my-5 d-flex align-items-end justify-content-center text-center">
        Modifier mon image d'en-tête
    </h1>
</div>
<h1 class="m-auto my-5 d-lg-none d-flex align-items-center justify-content-center text-center" style="font-size: 5rem;">
    Modifier mon image d'en-tête
</h1>

<div class="my-5 col-12 col-lg-8 m-auto">
    {% include('partial/flash_edit.html.twig') %}
    <div class="pt-5 px-5 justify-content-around bg-light-form shadow pb-3">
        <img src="{{ asset('images/uploads/postImages/mini/250x250-'~ headerImage) }}" class="card-img-top m-auto img-fluid img-thumbnail" alt="">
        <div class="col-12 col-lg-10 m-auto">
            <hr class="border-black border-2 my-5">
        </div>
        {{ form_errors(form) }}

        {{ form_start(form) }}

        {{ form_label(form.headerImage)}}
        {% for picture in form.headerImage %}
        <div class="d-flex flex-row">
            {# todo : le choice_label ne fonctionne pas #}
            {{ form_widget(picture, {'value': picture.vars.label}) }}
            <img src="{{ asset('images/uploads/postImages/mini/250x250-'~ picture.vars.label) }}" class="card-img-top m-auto img-fluid img-thumbnail image-mini"  alt="{{ picture.vars.label }}">
        </div>
        {% endfor %}
            
        <div class="d-flex justify-content-center">
            <button type="submit" class="my-3 fs-3 button-deco">            
                Envoyer !
            </button>
        </div>

        {{ form_end(form) }}

    </div>
</div>

{% endblock %}
