<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}SnowTricks{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {# Inclusion CSS individuelle si besoin #}
    {% endblock %}
</head>

<body>
    {# la navbarTop ne s'affiche qu'à partir de 576 px, la navbarBottom prend le relais pour les plus petits affichages #}
    <nav id="main-nav-bar" class="navbar bg-dark border-bottom border-body d-none d-lg-block m-0 p-0" style="max-height:min-content "  data-bs-theme="dark">
        <div class="container-fluid m-0 p-0">
            <a class="navbar-brand px-5 py-0" href="{{ path("app_home") }}"><img id="main-logo" src="{{ asset('images/mainMenu/logoText.png') }}" alt="snowtricks logo">
            </a>
            <ul class="navbar-nav d-flex flex-row justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active pe-2" aria-current="page" href="{{ path("app_home") }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-2" href="#">Stricks</a>
                </li>
                {% if not is_granted('IS_AUTHENTICATED') %}
                <li class="nav-item">
                    <a class="nav-link pe-2" href="{{ path("security_registration") }}">Connexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link pe-2" href="{{ path("app_logout") }}">Deconnexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block head %}
    {% endblock %}
    {# container général de la page #}
    <div class="container-fluid mb-5 pb-3"> 
    {% for message in app.flashes('verification') %}
        <div class="alert alert-info alert-dismissible fade show text-center">
            {{ message }} 
            <a href="{{ path('app_retry_verif_email') }}"> J'ai besoin d'un nouveau lien !</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show text-center">
        {{ message }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible fade show text-center">
        {{ message }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% block body %}
    {% endblock %}
    </div>

    <footer>
        <nav id="footer-desk" class="navbar fixed-bottom bg-dark border-body d-none d-lg-block" data-bs-theme="dark">
            <div class="container-fluid d-flex justify-content-center">
                <span class="navbar-brand m-0">Footer</span>
            </div>
        </nav>
        <nav id="footer-phone" class="navbar fixed-bottom bg-dark border-body d-block d-lg-none">
            <ul class="container-fluid navbar-nav d-flex flex-row justify-content-around py-3">
                <li class="nav-item"><a class="nav-link" href="{{ path("app_home") }}" title="Accueil"><i id="house-icon"
                            class="fa-solid fa-house p-2"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="" title="Ajout Stricks"><i id="bookmark-icon"
                            class="fa-solid fa-bookmark p-2"></i></a></li>
                {# if not app.user #}
                {% if not is_granted('IS_AUTHENTICATED') %}
                <li class="nav-item"><a class="nav-link" href="{{ path("security_registration") }}" title="Connexion"><i id="bracket-icon" class="fa-solid fa-right-to-bracket p-2"></i></a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path("app_logout") }}" title="Deconnexion"><i id="logout-icon" class="fa-solid fa-right-from-bracket p-2"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </footer>
</body>

<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="https://kit.fontawesome.com/ea7977182c.js" crossorigin="anonymous"></script>

{# Inclusion des fichiers JS individuels des pages qui en ont besoin #}
{% block javascripts %}
{# Inclusion JS individuelle si besoin #}
{% endblock %}

</html>
