{% extends 'base.html.twig' %}

{% block title %}Créer un trick{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<h1 class="m-auto my-5 d-flex align-items-center justify-content-center text-center">Créer un trick</h1>

<section class="my-5 col-12 col-lg-8 m-auto">
    {% include('partial/flash_edit.html.twig') %}
    <div class="form justify-content-around bg-light-form shadow pb-3">

        {{ form_errors(trickForm) }}

        {{ form_start(trickForm) }}

        {{ form_row(trickForm.title) }} 
        {{ form_row(trickForm.content) }}

        {{ form_row(trickForm.category) }}
        {{ form_row(trickForm.pictureList) }}
        {{ form_label(trickForm.media) }} <img src="{{ asset('images/logo/youtube-logo.png') }}" id="youtube-logo" class="card-img-top m-auto pb-1 ps-1" alt="...">
        {{ form_widget(trickForm.media) }} 
       
        <div class="d-flex justify-content-center">
            {{ form_row(trickForm.save)}}
        </div>

        {{ form_row(trickForm.delete, {'attr': {'style': 'display: none;'}}) }}

        {{ form_end(trickForm) }}

    </div>
</section>

{% endblock %}

