{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block head %}
{% if trick.headerImage is not null %} 
    <div id="bg-trick2" style="background-image: url('{{ asset('images/uploads/trickImages/'~ trick.headerImage) }} '); height: 100%;" class="row text-center m-0 p-0">
{% elseif pictureList is not empty %}
    <div id="bg-trick2" style="background-image: url('{{ asset('images/uploads/trickImages/'~ pictureList.0.name) }} '); height: 100%;" class="row text-center m-0 p-0">
{% else %}
    <div id="bg-trick1" style="background-image: url('{{ asset('images/background/snowboard1.jpg') }}');" class="row text-center m-0 p-0">
{% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <div class="p-3">
            <div class="d-sm-none d-lg-block">
                <div class="d-flex justify-content-end align-items-end p-0">   
                    <p class="px-2 m-0 bg-edit-button button-deco" >
                        <a href="{{ path('trick_edit', {'slug': trick.slug}) }}"><i class="fa-solid fa-pencil" style="color: #D9C7A6;"></i></a>
                    </p>
                    <p class="px-2 m-0 bg-edit-button button-deco">
                        <a onclick="return confirm('Es-tu sûr de vouloir supprimer ce trick ?')"
                            href="{{ path('delete_trick', {'slug': trick.slug}) }}" 
                            title="Suppression du trick">
                            <i class="fa-solid fa-trash" style="color: #B04C46;"></i>
                        </a>                    
                    </p>
                </div>            
            </div>
            <div class="d-flex justify-content-end align-items-end p-0">
                <p class="d-lg-none px-2 m-0 bg-edit-button button-deco">
                    <a href="{{ path('trick_edit', {'slug': trick.slug}) }}"><i id="pencil-icon" class="fa-solid fa-pencil p-2" style="color: #D9C7A6;"></i></a>
                </p>
                <p class="d-lg-none px-2 m-0 bg-edit-button button-deco">
                    <a onclick="return confirm('Es-tu sûr de vouloir supprimer ce trick ?')" 
                        href="{{ path('delete_trick', {'slug': trick.slug}) }}"
                        title="Suppression du trick">
                        <i id="trash-icon" class="fa-solid fa-trash p-2" style="color: #B04C46;"></i>
                    </a>
                </p>
            </div>
        </div> 
        {% else %}
        <div style="height:400px;"></div>
        {% endif %}

        <div class="d-sm-none d-lg-block">
            <h2 class="fs-1 col-4 m-auto d-flex align-items-end justify-content-center text-center bg-edit-button">{{ trick.title }}</h2>
        </div>
        <h2 class="fs-1 m-auto d-lg-none d-flex align-items-center justify-content-center text-center bg-edit-button" style="font-size: 5rem;">{{ trick.title }}</h2>
    </div>
{% endblock %}

{% block body %}
<div id="list-medias" class="d-sm-none d-lg-block">
    <div class="row col-12 pb-5 d-lg-flex m-0 mt-3">
        {% for picture in pictureList %}
        <div class="col-12 col-lg-2 mx-auto mx-lg-3 my-lg-3 p-0">
            <img src="{{ asset('images/uploads/trickImages/'~ picture.name) }}" class="card-img-top m-auto img-fluid img-thumbnail" alt="...">
        </div>
        {% endfor %}
        {% for media in mediaList %}
        <div class="col-12 col-lg-2 mx-auto mx-lg-3 my-lg-3 p-0">
            <iframe height="315" class="card-img-top m-auto img-fluid img-thumbnail" src="{{ media.videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        {% endfor %}
    </div>
</div>

{% if pictureList is not empty and mediaList is not empty %}
<div class="row my-5 pb-5 pb-lg-0 pt-0 pt-lg-5 d-lg-none">
    <div class="d-flex align-items-end justify-content-center text-center">
        <button href="" id="togg1" class="d-flex flex-colomn rounded text-decoration-none">
            <i id="spinner-icon" class="fa-solid fa-spinner p-2"></i>
            <h3 id="load-text" class="fs-5 m-0 p-3"> Voir les medias </h3>
        </button>
    </div>
</div>
{% endif %}

<div class="col-12 col-lg-8 m-auto">
    <p class="p-3 shadow bg-light-form text-break lh-lg"><span id="content-trick">{{ trick.content|nl2br }}</span></p>
</div>
<div class="col-12 col-lg-10 m-auto">
    <div class="row my-5 pb-5 ">
        <div style="height: 3rem;" class="d-flex mx-auto justify-content-center text-center list-group list-group-horizontal">
            <h3 class="m-0 list-group-item fs-4">
                Catégorie : <span class="span-text fs-5">{{ trick.category.title }}</span>
            </h3>
            <h3 class="m-0 list-group-item fs-4">
                Créé le <span class="span-text fs-5"> {{ trick.createdAt | date("d/m/Y à h:i", "Europe/Paris") }}</span>
            </h3>
            {% if trick.updateDate is not null %}
            <h3 class="m-0 list-group-item fs-4">
                Mise à jour le <span class="span-text fs-5"> {{ trick.updateDate | date("d/m/Y à h:i", "Europe/Paris") }}</span>
            </h3>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-12 col-lg-10 m-auto">
    <hr class="border-black border-2 my-5">
</div>

<div class="col-12 col-lg-8 m-auto">
    {% for message in app.flashes('login') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }} 
            <a href="{{ path('app_login') }}"> Je me connecte !</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {{ form_errors(commentForm) }}
    {{ form_start(commentForm)}}
        <div class="pt-5 px-5 justify-content-around bg-light-form shadow pb-3">
            {{ form_widget(commentForm, {'attr': {'class':'bg-edit-button text-break'}} ) }}
            <div class="d-flex justify-content-center">
                <button class="my-3 fs-3 button-deco" type="submit">Laisser un commentaire</button>
            </div>
        </div>
    {{ form_end(commentForm) }} 
</div>

<div class="col-12 col-lg-10 m-auto">
    <hr class="border-black border-2 my-5">
</div>

{% if commentList|length > 0 %}
{% set path = 'trick' %}
{% set slug = trick.slug %}
{% set pages = commentList.pages %}
{% set currentPage = commentList.page %}
{% include 'partial/pagination.html.twig' %}

    <div class="col-12 col-lg-8 m-auto">
        <div class="pt-5 px-4 justify-content-around shadow bg-edit-button pb-3">
            <h2>Commentaires <span class="span-text">({{ trick.commentList|length }})</span></h2>
            {% for comment in commentList.data %}
            <div class="d-flex justify-content-between mb-3">
                <div class="pe-3 col-3">
                    <div class="d-flex justify-content-center">
                        <img id="avatar-user" class="img-fluid rounded-circle mb-4 avatar"
                            {% if comment.user.avatar is not null %}
                                src="{{ asset('images/uploads/avatars/'~ comment.user.avatar) }}"
                            {% else %}
                                src="{{ asset('images/default/default-avatar.png') }}"
                            {% endif %}
                            alt="..." />
                    </div>
                    <h3 class="fs-5 text-center">{{ comment.user.username }}</h3>
                </div>
                <div class="p-3 col pt-5 comment-deco bg-white flex-fill">
                    <p class="small text-break">{{ comment.content }}</p>
                    <p class="blockquote-footer d-flex justify-content-end mt-2">Le {{ comment.createdAt | date("d/m/Y à h:i",
                        "Europe/Paris") }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% include 'partial/pagination.html.twig' %}

{% else %}
    <div class=" d-flex align-items-end justify-content-center text-center">
        <p class="col-8 span-text text-black-50 fs-3 text-center bg-body-secondary  ">Soit le premier à laisser un commentaire !</p>
    </div>
{% endif %}

<div style="height:150px"></div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
